In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load and view data
df = pd.read_csv("sales.csv")
df = df.dropna(subset=['Gender', 'Customer type', 'Payment'])  # Drop NaNs used for encoding

In [2]:
le_gender = LabelEncoder()
le_customer = LabelEncoder()
le_payment = LabelEncoder()

df['Gender_encoded'] = le_gender.fit_transform(df['Gender'])
df['Customer_encoded'] = le_customer.fit_transform(df['Customer type'])
df['Payment_encoded'] = le_payment.fit_transform(df['Payment'])

In [3]:
df[['Gender', 'Gender_encoded', 'Customer type', 'Customer_encoded', 'Payment', 'Payment_encoded']].head()

,Gender,Gender_encoded,Customer type,Customer_encoded,Payment,Payment_encoded
0,Female,0,Member,0,Ewallet,2
1,Female,0,Normal,1,Cash,0
2,Male,1,Normal,1,Credit card,1
3,Male,1,Member,0,Ewallet,2
5,Male,1,Normal,1,Ewallet,2

In [4]:
df.to_csv("sales_label_encoded.csv", index=False)