In [1]:
# Import required libraries
import pandas as pd
# Import required libraries
from datetime import date

# Load the CSV
df = pd.read_csv("sales.csv")
df['date_visited'] = pd.to_datetime(df['date_visited'], format='%d-%m-%Y', errors='coerce')

In [2]:
df['year'] = df['date_visited'].dt.year
df['month'] = df['date_visited'].dt.month
df['day_name'] = df['date_visited'].dt.day_name()

In [3]:
df['passed_years'] = date.today().year - df['date_visited'].dt.year
df['passed_months'] = (date.today().year - df['date_visited'].dt.year) * 12 + (date.today().month - df['date_visited'].dt.month)

In [4]:
# Display first few rows of the dataset
df[['date_visited', 'year', 'month', 'day_name', 'passed_years', 'passed_months']].head()

  date_visited  year  month  day_name  passed_years  passed_months
0   2016-10-02  2016     10    Sunday             9            105
1   2018-08-26  2018      8    Sunday             7             83
2   2020-09-14  2020      9    Monday             5             58
3   2022-10-10  2022     10    Monday             3             33
4   2019-09-28  2019      9  Saturday             6             70

In [5]:
# Export data to CSV file
df.to_csv("sales_feature_extraction.csv", index=False)