## All the questions here are basics : variables , operations and lists

**Q1. How can you calculate the total cost if a product price is 250 and shipping charge is 40??**

**Q2. How can you find the remainder when total sales 1234 are divided equally among 12 salespeople??**

**Q3. What is the Python expression to calculate 7 raised to the power of 4 for forecasting growth??**

**Q4. How can you check if two budgets `budget1=50000` and `budget2=75000` are equal??**

**Q5. How can you find the maximum revenue between two branches with revenues 85000 and 92000??**

**Q6. How can you check if a stock quantity 360 is divisible by carton size 12??**

**Q7. How can you round the monthly expense 4578.678 to the nearest integer??**

**Q8. How can you compute the average customer rating from `[4.2, 3.8, 4.5, 4.0]`??**

**Q9. How can you swap values of two department budgets `deptA=120000` and `deptB=80000`??**

**Q10. How can you check the data type of `invoice_id='INV1023'`??**

**Q11. Given the list of clients `clients=['Tata','Infosys','Reliance','Adani']`, how can you access the second element??**

**Q12. How can you get the last order from the list `orders=['ORD1','ORD2','ORD3','ORD4']` using negative indexing??**

**Q13. How can you retrieve items from index 2 to 4 in the list `inventory=[100,200,300,400,500]`??**

**Q14. How can you update the third element in `departments=['HR','Finance','Sales']` to 'Marketing'??**

**Q15. How can you add a new product 'Laptop' to the list `products=['Mouse','Keyboard']`??**

**Q16. How can you remove 'Keyboard' from `products=['Mouse','Keyboard','Monitor']`??**

**Q17. How can you calculate the number of employees in the list `employees=['John','Priya','Ali','Meera']`??**

**Q18. How can you reverse the order of `transactions=[1000,2000,3000,4000]`??**

**Q19. How can you check if 'Infosys' exists in the list `clients=['Tata','Infosys','Reliance']`??**

**Q20. How can you generate a list of invoice numbers from 101 to 110 using `range`??**

**Q21. How can you create a dictionary for a supplier with keys 'name','location' and values 'ABC Ltd','Mumbai'??**

**Q22. How can you access the 'location' value from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q23. How can you add a new key 'rating' with value 4.5 in dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q24. How can you update the value of 'location' to 'Delhi' in dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q25. How can you remove the key 'location' from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q26. How can you get all the keys from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q27. How can you get all the values from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q28. How can you check if key 'rating' exists in dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q29. How can you loop through both keys and values of dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

**Q30. How can you create a dictionary mapping product codes `['P01','P02']` to stock counts `[150,300]`??**