**Q1. How can you create a list of squares of product quantities `[2,3,4,5]` using list comprehension??**

In [3]:
quantities = [2, 3, 4, 5]

squares = [q**2 for q in quantities]
print(squares)

[4, 9, 16, 25]

**Q2. From sales values `[120,250,400,90]`, how can you extract only those greater than 200 using list comprehension??**

In [4]:
sales = [120,250,400,90]

high_sales = [s for s in sales if s>200]
print(high_sales)

[250, 400]

**Q3. How can you generate a list of customer emails from names `['Ravi','Meera','John']` by adding `@shop.com` using list comprehension??**

In [5]:
names = ['Ravi','Meera','John']
email = [n+"@shop.com" for n in names]
print(email)

['Ravi@shop.com', 'Meera@shop.com', 'John@shop.com']

**Q4. How can you convert product names `['laptop','mouse','printer']` to uppercase using list comprehension??**

In [7]:
products =['laptop','mouse','printer']
uppercase_products = [p.upper() for p in products]
print(uppercase_products)

['LAPTOP', 'MOUSE', 'PRINTER']

**Q5. How can you create a list of even invoice numbers from `[101,102,103,104,105]` using list comprehension??**

In [10]:
invoice_numbers = [101, 102, 103, 104, 105]

even_invoices = [num for num in invoice_numbers if num % 2 == 0]
print(even_invoices)

[102, 104]

**Q6. How can you calculate 10% discount on prices `[500,1000,1500]` using list comprehension??**

In [12]:
prices = [500, 1000, 1500]

discounted_prices = [price * 0.9 for price in prices]
print(discounted_prices)

[450.0, 900.0, 1350.0]

**Q7. How can you replace negative profit values with 0 in `[1200,-300,800,-150]` using list comprehension??**

In [13]:
profits = [1200, -300, 800, -150]

adjusted_profits = [p if p >= 0 else 0 for p in profits]
print(adjusted_profits)

[1200, 0, 800, 0]

**Q8. How can you extract the first letter of each department in `['Finance','HR','Operations']` using list comprehension??**

In [14]:
departments = ['Finance', 'HR', 'Operations']

dept_first_letters = [d[0] for d in departments]
print(dept_first_letters)

['F', 'H', 'O']

**Q9. How can you flatten the nested list of orders `[[101,102],[103,104],[105]]` into a single list using list comprehension??**

In [16]:
l =[[101,102],[103,104],[105]]
l = [i for j in l for i in j]
print(l)

[101, 102, 103, 104, 105]

In [20]:
#Alt
orders = [[101, 102], [103, 104], [105]]

flat_orders = [item for sublist in orders for item in sublist]
print(flat_orders)

[101, 102, 103, 104, 105]

**Q10. How can you generate a list of squares only for even numbers from `[1,2,3,4,5,6]` using list comprehension??**

In [22]:
numbers = [1, 2, 3, 4, 5, 6]

even_squares = [n**2 for n in numbers if n % 2 == 0]
print(even_squares)

[4, 16, 36]

**Q11. How can you label each sale as 'High' if >200 else 'Low' for `[120,250,90,300]` using list comprehension??**

In [23]:
sales = [120, 250, 90, 300]

labels = ['High' if s > 200 else 'Low' for s in sales]
print(labels)

['Low', 'High', 'Low', 'High']

**Q12. How can you compute GST (18%) on each bill in `[1000,2000,3000]` using list comprehension??**

In [24]:
bills = [1000, 2000, 3000]

gst = [bill * 0.18 for bill in bills]
print(gst)

[180.0, 360.0, 540.0]

**Q13. How can you create a list of word lengths from `['data','analytics','python']` using list comprehension??**

In [25]:
words = ['data', 'analytics', 'python']
lengths = [len(word) for word in words]
print(lengths)

[4, 9, 6]

**Q14. How can you filter out all customers whose names start with 'A' from `['Amit','Neha','Arjun','Riya']` using list comprehension??**

In [26]:
customers = ['Amit', 'Neha', 'Arjun', 'Riya']

a_customers = [c for c in customers if c.startswith('A')]
print(a_customers)

['Amit', 'Arjun']

**Q15. How can you create a list of cubes for numbers `[1,2,3,4]` using list comprehension??**

In [27]:
numbers = [1, 2, 3, 4]
cubes = [n**3 for n in numbers]
print(cubes)

[1, 8, 27, 64]

**Q16. How can you generate a list of only odd transaction IDs from `[200,201,202,203,204]` using list comprehension??**

In [28]:
transactions = [200, 201, 202, 203, 204]
odd_transactions = [t for t in transactions if t % 2 != 0]
print(odd_transactions)

[201, 203]

**Q17. How can you add a prefix 'EMP-' to all employee IDs `[101,102,103]` using list comprehension??**

In [29]:
employee_ids = [101, 102, 103]
emp_ids = [f'EMP-{eid}' for eid in employee_ids]
print(emp_ids)

['EMP-101', 'EMP-102', 'EMP-103']

**Q18. How can you create a list of boolean values checking if sales `[120,200,350]` exceed target 150 using list comprehension??**

In [30]:
sales = [120, 200, 350]
above_target = [s > 150 for s in sales]
print(above_target)

[False, True, True]

**Q19. How can you filter out words longer than 5 characters from `['sales','marketing','hr','operations']` using list comprehension??**

In [31]:
words = ['sales', 'marketing', 'hr', 'operations']
short_words = [w for w in words if len(w) <= 5]
print(short_words)

['sales', 'hr']

**Q20. How can you generate all possible pairs between `[1,2]` and `[3,4]` using list comprehension??**

In [32]:
list1 = [1, 2]
list2 = [3, 4]
pairs = [(x, y) for x in list1 for y in list2]
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]