**Q1. You have a list of sales figures `[120, 300, 150, 400]`. How can you use list comprehension to calculate a 10% commission for each sales value??**

In [3]:
sales = [120, 300, 150, 400]

commission = [s * 0.10 for s in sales]
print(commission)

[12.0, 30.0, 15.0, 40.0]

**Q2. Given a list of employee names `['Alice', 'Bob', 'Charlie']`, how can you use list comprehension to create email IDs by adding `@company.com`??**

In [4]:
names = ['Alice', 'Bob', 'Charlie']

email = [n+"@company.com" for n in names]
print(email)

['Alice@company.com', 'Bob@company.com', 'Charlie@company.com']

**Q3. From a list of product prices `[50, 120, 300, 25]`, how can you use list comprehension to filter only those greater than 100??**

In [5]:
prices = [50, 120, 300, 25]

high_prices = [p for p in prices if p>100]
print(high_prices)

[120, 300]

**Q4. If you have a list of quantities `[2, 4, 6, 8]`, how can you use list comprehension to generate their square values??**

In [7]:
quantities = [2, 4, 6, 8]

square = [q**2 for q in quantities]
print(square)

[4, 16, 36, 64]

**Q5. From a list of customer feedback words `['good', 'bad', 'excellent']`, how can you use list comprehension to convert each to uppercase??**

In [10]:
feedback = ['good', 'bad', 'excellent']

uppercase_feedback = [word.upper() for word in feedback]
print(uppercase_feedback)

['GOOD', 'BAD', 'EXCELLENT']

**Q6. How can you use a lambda function to calculate profit given revenue and cost??**

In [11]:
profit = lambda revenue, cost: revenue - cost

# Example usage
print(profit(5000, 3500))
print(profit(12000, 8000))

1500
4000

**Q7. Write a lambda function to calculate discount price given original price and discount percentage??**

In [16]:
discount_price = lambda price, discount_percent: price * (1 - discount_percent / 100)

# List of original prices
prices = [1000, 1500, 2000]

# Discount percentage
discount = 10

# Apply the lambda to each price using list comprehension
discounted_prices = [discount_price(p, discount) for p in prices]
print(discounted_prices)

[900.0, 1350.0, 1800.0]

**Q8. How can you create a lambda function that checks if a transaction amount is above 500??**

In [15]:
is_above_500 = lambda amount: amount > 500

# Example list of transactions
transactions = [200, 600, 450, 800]

# Apply the lambda function to the list using list comprehension
results = [is_above_500(t) for t in transactions]
print(results)

[False, True, False, True]

**Q9. Write a lambda function to find maximum of two sales amounts??**

In [17]:
max_sales = lambda a, b: a if a > b else b

# Example usage
print(max_sales(1200, 1500))

1500

**Q10. How can you use lambda to calculate GST (18%) on a given bill amount??**

In [18]:
gst = lambda bill: bill * 0.18

# Example usage
print(gst(1000))

180.0

**Q11. You have a list of product prices `[100, 200, 300]`. How can you use `map` to increase each price by 15%??**

In [21]:
prices = [100, 200, 300]

# Increase each price by 15% using map and lambda
updated_prices = list(map(lambda p: p * 1.15, prices))
print(updated_prices)

[114.99999999999999, 229.99999999999997, 345.0]

**Q12. Given a list of employee working hours `[8, 7, 9]`, how can you use `map` to calculate overtime pay assuming 100 per hour??**

In [22]:
working_hours =[8, 7, 9]
overtime_pay= list(map(lambda x: x*100, working_hours))
print(overtime_pay)

[800, 700, 900]

**Q13. How can you use `map` with lambda to convert a list of product names to uppercase??**

In [23]:
product_names = ['echo', 'firetv', 'kindle', 'fireos', 'athena']
product_names_uppercase = list(map(lambda x: x.upper(),product_names))
print(product_names_uppercase)

['ECHO', 'FIRETV', 'KINDLE', 'FIREOS', 'ATHENA']

**Q14. You have a list of revenue figures `[1000, 2000, 3000]`. How can you use `map` to calculate net revenue after 10% tax??**

In [24]:
rev = [1000, 2000, 3000]
net_rev = list(map(lambda x: x*0.9, rev))
print(net_rev)

[900.0, 1800.0, 2700.0]

**Q15. Given a list of marks `[45, 78, 90]`, how can you use `map` to convert them into grades using a lambda??**

In [25]:
marks =[45, 78, 90]
grades = list(map(lambda x: 'A' if x >= 90 else ('B' if x >= 70 else 'C'), marks))
print(grades)

['C', 'B', 'A']

**Q16. How can you use `filter` to find products above 500 from `[200, 450, 600, 750]`??**

In [28]:
products = [200, 450, 600, 750]
above_500 = list(filter(lambda x: x > 500, products))
print(above_500)

[600, 750]

**Q17. Given employee ages `[22, 34, 19, 45]`, how can you use `filter` to find only those above 30??**

In [29]:
ages = [22, 34, 19, 45]

above_30 = list(filter(lambda a:a > 30, ages))
print(above_30)

[34, 45]

**Q18. How can you use `filter` to extract transactions greater than 1000 from `[500, 1200, 2500, 800]`??**

In [30]:
transactions = [500, 1200, 2500, 800]
transactions_above_1000 = list(filter(lambda x: x > 1000, transactions))
print(transactions_above_1000)

[1200, 2500]

**Q19. Given a list of customers `['Sam', 'Anna', 'Sophia', 'Raj']`, how can you use `filter` to select names starting with 'S'??**

In [31]:
names = ['Sam', 'Anna', 'Sophia', 'Raj']
names_s = list(filter(lambda x: x.startswith('S') ,names))
print(names_s)

['Sam', 'Sophia']

**Q20. How can you use `filter` with lambda to keep only even invoice numbers `[101, 102, 103, 104]`??**

In [33]:
invoice_nums = [101, 102, 103, 104]
even_invoice_nums = list(filter(lambda x: x%2==0,invoice_nums))
print(even_invoice_nums)

[102, 104]

**Q21. Using list comprehension, how can you compute final prices by adding 18% GST to `[100, 200, 300]`??**

In [34]:
prices = [100, 200, 300]
final_prices = [price*1.18 for price in prices]
print(final_prices)

[118.0, 236.0, 354.0]

**Q22. How can you use `map` and `lambda` together to compute square of `[5, 10, 15]`??**

In [35]:
numbers = [5, 10, 15]
squares = list(map(lambda x: x*x, numbers))
squares

[25, 100, 225]

**Q23. Using `filter` and `lambda`, how can you select employees with salaries greater than 50k from `[40000, 55000, 60000, 30000]`??**

In [36]:
salaries = [40000, 550000, 600000, 30000]

above_50k = list(filter(lambda s: s>50000, salaries))
above_50k

[550000, 600000]

**Q24. How can you combine `map` and `filter` to first increase all prices by 10% and then select only those above 200 from `[100, 150, 250]`??**

In [42]:
prices = [100, 150, 250]

# Step 1: Increase each price by 10% using map
increased_prices = map(lambda p: p * 1.1, prices)

# Step 2: Select only prices above 200 using filter
filtered_prices = filter(lambda p: p > 200, increased_prices)

# Convert the result to a list
result = list(filtered_prices)
print(result)

[275.0]

**Q25. Using list comprehension, how can you replace all negative values with 0 in `[10, -5, 20, -8]`??**

In [44]:
numbers = [10, -5, 20, -8]
updated_numbers = [x if x > 0 else 0 for x in numbers]
print(updated_numbers)

[10, 0, 20, 0]

**Q26. How can you use `map` to format a list of invoice numbers `[1, 2, 3]` as `INV-1, INV-2, INV-3`??**

In [45]:
invoice_numbers = [1, 2, 3]
formatted_invoices = list(map(lambda x: f'INV-{x}', invoice_numbers))
print(formatted_invoices)

['INV-1', 'INV-2', 'INV-3']

**Q27. Using `filter`, how can you extract only profitable transactions from `[100, -50, 200, -30]`??**

In [46]:
transactions = [100, -50, 200, -30]

profitable_transactions = list(filter(lambda t:t>0, transactions))
print(profitable_transactions)

[100, 200]

**Q28. How can you use lambda in sorting a list of tuples `[('A', 300), ('B', 100), ('C', 200)]` by the second element??**

In [48]:
data =  [('A', 300), ('B', 100), ('C', 200)]
tuples = sorted(data, key=lambda x: x[1])
tuples

[('B', 100), ('C', 200), ('A', 300)]

**Q29. Using list comprehension, how can you flatten `[[1,2],[3,4],[5,6]]` into `[1,2,3,4,5,6]`??**

In [49]:
to_flatten = [[1,2],[3,4],[5,6]]
after_flattening = [j for x in to_flatten for j in x]
after_flattening

[1, 2, 3, 4, 5, 6]

**Q30. How can you use `map` and `lambda` to convert `[10, 20, 30]` into their string equivalents??**

In [50]:
nums = [10, 20, 30]
strs = list(map(lambda x: str(x), nums))
strs

['10', '20', '30']

**Q31. Using `filter` and `lambda`, how can you select all words longer than 5 characters from `['apple', 'banana', 'kiwi', 'watermelon']`??**

In [51]:
fruits = ['apple', 'banana', 'kiwi', 'watermelon']
long_fruits = list(filter(lambda x: len(x) > 5, fruits ))
long_fruits

['banana', 'watermelon']

**Q32. How can you use list comprehension to extract the first character from each word in `['Sales', 'Marketing', 'Finance']`??**

In [ ]:
depts = ['Sales', 'Marketing', 'Finance']
spc_depts = [x[0] for x in depts]
spc_depts

['S', 'M', 'F']

**Q33. Using `map` and `lambda`, how can you calculate square roots of `[4, 9, 16]`??**

In [52]:
import math
nums = [4, 9, 16]
sqrts = list(map(lambda x: math.sqrt(x), nums))
sqrts

[2.0, 3.0, 4.0]

**Q34. How can you use `filter` and `lambda` to select only positive numbers from `[-10, 0, 5, 15]`??**

In [53]:
nums = [-10, 0, 5, 15]
pos_nums = list(filter(lambda x: x> 0, nums))
pos_nums

[5, 15]

**Q35. Using list comprehension, how can you generate all possible pairs from `[1,2]` and `[3,4]`??**

In [ ]:
a = [1,2]
b = [3,4]
pairs = [(x,y) for x in a for y in b]
pairs

[(1, 3), (1, 4), (2, 3), (2, 4)]