**Q1. Write a function `greet_customer(name)` that returns a greeting string like `Welcome, <name>!` ??**

In [2]:
def greet_customer(name):
    return f"Welcome, {name}!"
greet_customer("Anmol")

'Welcome, Anmol!'

**Q2. Write a function `total_cost(price, qty)` that returns `price * qty` for an order amount??**

In [3]:
def total_cost(price, qty):
    return price * qty
total_cost(100, 2)

200

**Q3. Write a function `apply_gst(amount, rate=0.18)` that returns the amount including GST using a default rate if not provided??**

In [4]:
def apply_gst(amount, rate=0.18):
    return amount * (1 + rate)
apply_gst(100)

118.0

**Q4. Write a function `is_target_met(sales, target)` that returns True if sales >= target, else False??**

In [10]:
def is_target_met(sales, target):
    return sales >= target

sales = input()
target = input()
is_target_met(int(sales), int(target))

5
20

False

**Q5. Write a function `full_email(first, last, domain='company.com')` that builds `<first>.<last>@<domain>` in lowercase??**

In [11]:
def full_email(first, last, domain='company.com'):
    return f"{first.lower()}.{last.lower()}@{domain}"
full_email("Anmol", "Kumar")

'anmol.kumar@company.com'

**Q6. Write a function `avg_rating(*ratings)` that returns the average of any number of numeric ratings??**

In [18]:
def avg_rating(*ratings):
    return sum(ratings) / len(ratings)
avg_rating(1, 2, 3, 4, 5)

3.0

**Q7. Write a function `format_invoice(**fields)` that returns a string like `INV:<id> - <client> - <amount>` using keys `id`, `client`, `amount` from kwargs??**

In [13]:
def format_invoice(**fields):
    return f"INV:{fields.get('id')} - {fields.get('client')} - {fields.get('amount')}"

# Example usage:
print(format_invoice(id='123', client='ABC Corp', amount='1000'))
print(format_invoice(client='XYZ Ltd', id='456', amount='500.50'))

INV:123 - ABC Corp - 1000
INV:456 - XYZ Ltd - 500.50

**Q8. Write a function `percent_change(old, new)` that returns percentage change rounded to 2 decimals (positive or negative)??**

In [19]:
def percent_change(old, new):
    return round(((new - old) / old) * 100, 2)
percent_change(100, 120)

20.0

**Q9. Write a function `sanitize_sku(sku)` that trims spaces and converts the SKU to uppercase??**

In [23]:
def sanitize_sku(sku):
    return sku.strip().upper()
sanitize_sku("   AbC123   ")

'ABC123'

**Q10. Write a function `cap_words(text)` that returns the sentence with each word capitalized (don’t use external libraries)??**

In [25]:
def cap_words(text):
  return text.upper()

cap_words("hello hallle")

'HELLO HALLLE'

**Q11. Write a function `top_sellers(sales_dict, n)` that takes a dict like `{'A':1200,'B':900,'C':1500}` and returns a list of the top `n` product IDs by sales (highest first)??**

In [32]:
def top_sellers(sales_dict, n):
    return sorted(sales_dict, key=sales_dict.get, reverse=True)[:n]
top_sellers({'A':1200,'B':900,'C':1500}, 1)

['C']

**Q12. Write a function `filter_high_value(orders, threshold)` where `orders` is a list of amounts; return only amounts strictly above `threshold`??**

In [1]:
def filter_high_value(orders, threshold):
    return [amount for amount in orders if amount > threshold]

# Example usage
orders = [100, 250, 300, 150]
result = filter_high_value(orders, 200)
print(result)

[250, 300]

**Q13. Write a function `tag_discounts(prices, cutoff)` that returns `['HIGH' if p>=cutoff else 'LOW' for each price]` without using list comprehensions (use a loop)??**

In [2]:
def tag_discounts(prices, cutoff):
    tags = []
    for p in prices:
        if p >= cutoff:
            tags.append('HIGH')
        else:
            tags.append('LOW')
    return tags

# Example usage
prices = [100, 250, 300, 150]
result = tag_discounts(prices, 200)
print(result)

['LOW', 'HIGH', 'HIGH', 'LOW']

**Q14. Write a function `merge_stocks(main, incoming)` that merges two dictionaries of stocks by summing counts for matching keys and keeping non-overlapping ones??**

In [3]:
def merge_stocks(main, incoming):
    merged = main.copy()  # Start with main dictionary
    for key, value in incoming.items():
        if key in merged:
            merged[key] += value  # Sum counts for matching keys
        else:
            merged[key] = value   # Add non-overlapping keys
    return merged

# Example usage
main_stocks = {'A': 100, 'B': 200, 'C': 50}
incoming_stocks = {'B': 150, 'C': 30, 'D': 70}

result = merge_stocks(main_stocks, incoming_stocks)
print(result)

{'A': 100, 'B': 350, 'C': 80, 'D': 70}

**Q15. Write a function `unique_clients(records)` that takes a list of client names (with duplicates and varying cases) and returns a sorted list of unique names in title case??**

In [4]:
def unique_clients(records):
    # Convert all names to title case and remove duplicates using set
    unique_names = {name.title() for name in records}
    # Return a sorted list
    return sorted(unique_names)

# Example usage
clients = ['tata', 'Infosys', 'RELIANCE', 'tata', 'infosys']
result = unique_clients(clients)
print(result)

['Infosys', 'Reliance', 'Tata']

**Q16. Write a recursive function `factorial(n)` that returns n! and raises `ValueError` if `n` is negative??**

In [5]:
def factorial(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

# Example usage
print(factorial(5))

120

**Q17. Write a recursive function `flatten(nested)` that flattens a list like `[[1,2],[3,[4]]]` into `[1,2,3,4]`??**

In [6]:
def flatten(nested):
    flat_list = []
    for item in nested:
        if isinstance(item, list):
            flat_list.extend(flatten(item))  # Recursively flatten sublist
        else:
            flat_list.append(item)           # Append non-list item
    return flat_list

# Example usage
nested_list = [[1, 2], [3, [4]]]
result = flatten(nested_list)
print(result)

[1, 2, 3, 4]

**Q18. Write a function `make_incrementer(step)` that returns a new function which, when called with `x`, returns `x + step` (closure)??**

In [10]:
def make_incrementer(step):
    def increment(x):
        return x + step
    return increment

# Example usage
inc_by_5 = make_incrementer(5)
print(inc_by_5(10))
print(inc_by_5(20))

inc_by_2 = make_incrementer(2)
print(inc_by_2(10))

15
25
12

**Q19. Write a function `safe_div(a, b)` that returns `a/b` but returns `None` if `b==0` instead of raising an error??**

In [11]:
def safe_div(a, b):
    if b == 0:
        return None
    return a / b

# Example usage
print(safe_div(10, 2))

5.0

In [12]:
print(safe_div(10,0))

None

**Q20. Write a function `readable_currency(amount)` that returns a string with thousands separators (e.g., `1,234,567.89`) without using external libraries??**

In [13]:
def readable_currency(amount):
    return "{:,.2f}".format(amount)

# Example usage
print(readable_currency(1234567.89))

1,234,567.89

In [14]:
print(readable_currency(1000))

1,000.00