## All the questions here are basics : variables , operations and lists

**Q1. How can you calculate the total cost if a product price is 250 and shipping charge is 40??**

In [1]:
price = 250
ship = 40
total_price = price + ship
print(total_price)

290

**Q2. How can you find the remainder when total sales 1234 are divided equally among 12 salespeople??**

In [7]:
total_sales = 1234
salespeople = 12

remainder = total_sales % salespeople
print("Remainder:", remainder)

Remainder: 10

**Q3. What is the Python expression to calculate 7 raised to the power of 4 for forecasting growth??**

In [8]:
7 ** 4

2401

**Q4. How can you check if two budgets `budget1=50000` and `budget2=75000` are equal??**

In [9]:
budget1 = 50000
budget2 = 75000

are_equal = budget1 == budget2
print("Are the budgets equal?", are_equal)

Are the budgets equal? False

**Q5. How can you find the maximum revenue between two branches with revenues 85000 and 92000??**

In [10]:
branch1 = 85000
branch2 = 92000

max_revenue = max(branch1, branch2)
print("Maximum revenue:", max_revenue)

Maximum revenue: 92000

**Q6. How can you check if a stock quantity 360 is divisible by carton size 12??**

In [11]:
stock_quantity = 360
carton_size = 12

is_divisible = stock_quantity % carton_size == 0
print("Is the stock divisible by carton size?", is_divisible)

Is the stock divisible by carton size? True

**Q7. How can you round the monthly expense 4578.678 to the nearest integer??**

In [12]:
monthly_expense = 4578.678

rounded_expense = round(monthly_expense)
print("Rounded monthly expense:", rounded_expense)

Rounded monthly expense: 4579

**Q8. How can you compute the average customer rating from `[4.2, 3.8, 4.5, 4.0]`??**

In [13]:
ratings = [4.2, 3.8, 4.5, 4.0]

average_rating = sum(ratings) / len(ratings)
print("Average customer rating:", average_rating)

Average customer rating: 4.125

**Q9. How can you swap values of two department budgets `deptA=120000` and `deptB=80000`??

In [14]:
deptA = 120000
deptB = 80000

deptA, deptB = deptB, deptA
print("Department A budget:", deptA)
print("Department B budget:", deptB)

Department A budget: 80000
Department B budget: 120000

**Q10. How can you check the data type of `invoice_id='INV1023'`??**

In [15]:
Invoice_id = 'INV1023'
print(type(Invoice_id))

<class 'str'>

**Q11. Given the list of clients `clients=['Tata','Infosys','Reliance','Adani']`, how can you access the second element??**

In [16]:
clients = ['Tata', 'Infosys', 'Reliance', 'Adani']
second_client = clients[1]
print(second_client)

Infosys

**Q12. How can you get the last order from the list `orders=['ORD1','ORD2','ORD3','ORD4']` using negative indexing??**

In [17]:
orders = ['ORD1', 'ORD2', 'ORD3', 'ORD4']
last_order = orders[-1]
print(last_order)

ORD4

**Q13. How can you retrieve items from index 2 to 4 in the list `inventory=[100,200,300,400,500]`??**

In [18]:
inventory = [100, 200, 300, 400, 500]
subset = inventory[2:5]  # indices 2, 3, 4
print(subset)

[300, 400, 500]

**Q14. How can you update the third element in `departments=['HR','Finance','Sales']` to 'Marketing'??**

In [19]:
departments=['HR','Finance','Sales']
departments[2] = 'Marketing'
print(departments)

['HR', 'Finance', 'Marketing']

**Q15. How can you add a new product 'Laptop' to the list `products=['Mouse','Keyboard']`??**

In [20]:
products = ['Mouse', 'Keyboard']
products.append('Laptop')
print(products)

['Mouse', 'Keyboard', 'Laptop']

**Q16. How can you remove 'Keyboard' from `products=['Mouse','Keyboard','Monitor']`??**

In [6]:
products = ['Mouse', 'Keyboard', 'Monitor']
products.remove('Keyboard')

print(products)

['Mouse', 'Monitor']

**Q17. How can you calculate the number of employees in the list `employees=['John','Priya','Ali','Meera']`??**

In [21]:
employees=['John','Priya','Ali','Meera']
print(len(employees))

4

**Q18. How can you reverse the order of `transactions=[1000,2000,3000,4000]`??**

In [22]:
transactions=[1000,2000,3000,4000]
transactions.reverse()
print(transactions)

[4000, 3000, 2000, 1000]

**Q19. How can you check if 'Infosys' exists in the list `clients=['Tata','Infosys','Reliance']`??**

In [23]:
clients=['Tata','Infosys','Reliance']
print('Infosys' in clients)

True

**Q20. How can you generate a list of invoice numbers from 101 to 110 using `range`??**

In [24]:
invoice_numbers = list(range(101, 111))
print(invoice_numbers)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

**Q21. How can you create a dictionary for a supplier with keys 'name','location' and values 'ABC Ltd','Mumbai'??**

In [ ]:
supplier = {'name': 'ABC Ltd', 'location': 'Mumbai'}
print(supplier)

{'name': 'ABC Ltd', 'location': 'Mumbai'}

**Q22. How can you access the 'location' value from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [ ]:
supplier={'name':'ABC Ltd','location':'Mumbai'}
print(supplier['location'])

Mumbai

**Q23. How can you add a new key 'rating' with value 4.5 in dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [ ]:
supplier={'name':'ABC Ltd','location':'Mumbai'}
supplier['rating'] = 4.5
print(supplier)

{'name': 'ABC Ltd', 'location': 'Mumbai', 'rating': 4.5}

**Q24. How can you update the value of 'location' to 'Delhi' in dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [25]:
supplier = {'name': 'ABC Ltd', 'location': 'Mumbai'}

# Update location
supplier['location'] = 'Delhi'

print(supplier)

{'name': 'ABC Ltd', 'location': 'Delhi'}

**Q25. How can you remove the key 'location' from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [ ]:
supplier={'name':'ABC Ltd','location':'Mumbai'}
del supplier['location']
print(supplier)

{'name': 'ABC Ltd'}

**Q26. How can you get all the keys from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [ ]:
supplier={'name':'ABC Ltd','location':'Mumbai'}
print(supplier.keys())

dict_keys(['name', 'location'])

**Q27. How can you get all the values from dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [ ]:
supplier={'name':'ABC Ltd','location':'Mumbai'}
print(supplier.values())

dict_values(['ABC Ltd', 'Mumbai'])

**Q28. How can you check if key 'rating' exists in dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [ ]:
supplier={'name':'ABC Ltd','location':'Mumbai', 'rating':5}
print("rating" in supplier)

True

**Q29. How can you loop through both keys and values of dictionary `supplier={'name':'ABC Ltd','location':'Mumbai'}`??**

In [ ]:
supplier ={'name':'ABC Ltd','location':'Mumbai'}
print(supplier.items())

dict_items([('name', 'ABC Ltd'), ('location', 'Mumbai')])

**Q30. How can you create a dictionary mapping product codes `['P01','P02']` to stock counts `[150,300]`??**

In [27]:
product_codes = ['P01', 'P02']
stock_counts = [150, 300]

inventory = dict(zip(product_codes, stock_counts))
print(inventory)

{'P01': 150, 'P02': 300}