**Q1. Given a nested list of quarterly sales `sales=[[1200,1300],[1400,1500],[1600,1700]]`, how can you access the first quarter of the second year??**

In [1]:
sales=[[1200,1300],[1400,1500],[1600,1700]]
print(sales[1][0])

1400

**Q2. How can you update the value 1500 to 1550 in the nested list `sales=[[1200,1300],[1400,1500],[1600,1700]]`??**

In [2]:
sales=[[1200,1300],[1400,1500],[1600,1700]]
sales[1][1]=1550
print(sales)

[[1200, 1300], [1400, 1550], [1600, 1700]]

**Q3. How can you flatten the nested list `orders=[[101,102],[103,104],[105]]` into a single list??**

In [3]:
orders=[[101,102],[103,104],[105]]
flat_list = [item for sublist in orders for item in sublist]
print(flat_list)

[101, 102, 103, 104, 105]

**Q4. How can you access the 'city' of employee in dictionary `employee={'id':101,'details':{'name':'Anita','city':'Pune'}}`??**

In [4]:
employee={'id':101,'details':{'name':'Anita','city':'Pune'}}
print(employee['details']['city'])

Pune

**Q5. How can you add a new key 'department':'HR' under 'details' in dictionary `employee={'id':101,'details':{'name':'Anita','city':'Pune'}}`??**

In [5]:
employee={'id':101,'details':{'name':'Anita','city':'Pune'}}
employee['details']['department']='HR'
print(employee)

{'id': 101, 'details': {'name': 'Anita', 'city': 'Pune', 'department': 'HR'}}

**Q6. How can you update the 'city' from 'Pune' to 'Mumbai' in nested dictionary `employee={'id':101,'details':{'name':'Anita','city':'Pune'}}`??**

In [6]:
employee={'id':101,'details':{'name':'Anita','city':'Pune'}}
employee['details']['city']='Mumbai'
print(employee)

{'id': 101, 'details': {'name': 'Anita', 'city': 'Mumbai'}}

**Q7. Given a tuple of stock prices `prices=(250,275,290,310)`, how can you access the last price??**

In [7]:
prices=(250,275,290,310)
print(prices[-1])

310

**Q8. How can you unpack the tuple `branch=('Delhi',250000)` into two separate variables??**

In [8]:
branch=('Delhi',250000)
city,population=branch
print(city)
print(population)

Delhi
250000

**Q9. Given two sets of customers `setA={'Ravi','Meera','John'}` and `setB={'John','Ali','Kiran'}`, how can you find the common customers??**

In [9]:
setA={'Ravi','Meera','John'}
setB={'John','Ali','Kiran'}
print(setA.intersection(setB))

{'John'}

**Q10. How can you add a new supplier 'GlobalCorp' to the set `suppliers={'TCS','Infosys','Wipro'}`??**

In [10]:
suppliers={'TCS','Infosys','Wipro'}
suppliers.add('GlobalCorp')
print(suppliers)

{'GlobalCorp', 'TCS', 'Infosys', 'Wipro'}